.manager{
	margin : auto;
	border : 1px solid #f5f5f5;
	border-radius : 4px;
	margin-bottom : 10px;
}

.manager-results{
	padding : 5px;
	height : 230px;
	overflow : scroll;
}

.large .manager-results{
	height : 330px;
}

.small .manager-results{
	height : 130px;
}

.selected{
  background-color:#ccc;
}