body
{
	padding-bottom: 20px;
}

.sectionHeader
{
	font-weight:bold;
	font-size: 27px;
}

.report-title
{
	font-weight:bold;
	font-size: 20px;
}

.buttonSpacer
{
	margin-right:10px;
}

.notesBox
{
	width: 99%;
	resize: none;
}

.overviewHeader
{
	text-align:center;
	display:block;
	font-size: 20px;
	font-weight: bold;
}
