<div class="cal-row-fluid">
  <ul class="cal-event-list unstyled cal-cell1">
    <% _.each(events, function(event){
      if(event.start_day == 0){ %>
        <li data-event-class="<%= event.class %>">
          <span class="pull-left event <%= event.class %>"></span>
          <a href="<%= event.url %>" data-event-id="<%= event.id %>" class="cal-event-week event<%= event.id %>"><%= event.title %></a>
        </li>
      <% } %>
    <%}); %>
  </ul>
  <ul class="cal-event-list unstyled cal-cell1">
    <% _.each(events, function(event){
      if(event.start_day == 1){ %>
        <li data-event-class="<%= event.class %>">
          <span class="pull-left event <%= event.class %>"></span>
          <a href="<%= event.url %>" data-event-id="<%= event.id %>" class="cal-event-week event<%= event.id %>"><%= event.title %></a>
        </li>
      <% } %>
    <%}); %>
  </ul>
  <ul class="cal-event-list unstyled cal-cell1">
    <% _.each(events, function(event){
      if(event.start_day == 2){ %>
        <li data-event-class="<%= event.class %>">
          <span class="pull-left event <%= event.class %>"></span>
          <a href="<%= event.url %>" data-event-id="<%= event.id %>" class="cal-event-week event<%= event.id %>"><%= event.title %></a>
        </li>
      <% } %>
    <%}); %>
  </ul>
  <ul class="cal-event-list unstyled cal-cell1">
    <% _.each(events, function(event){
      if(event.start_day == 3){ %>
        <li data-event-class="<%= event.class %>">
          <span class="pull-left event <%= event.class %>"></span>
          <a href="<%= event.url %>" data-event-id="<%= event.id %>" class="cal-event-week event<%= event.id %>"><%= event.title %></a>
        </li>
      <% } %>
    <%}); %>
  </ul>
  <ul class="cal-event-list unstyled cal-cell1">
    <% _.each(events, function(event){
      if(event.start_day == 4){ %>
        <li data-event-class="<%= event.class %>">
          <span class="pull-left event <%= event.class %>"></span>
          <a href="<%= event.url %>" data-event-id="<%= event.id %>" class="cal-event-week event<%= event.id %>"><%= event.title %></a>
        </li>
      <% } %>
    <%}); %>
  </ul>
  <ul class="cal-event-list unstyled cal-cell1">
    <% var studentEvents = [];
    _.each(events, function(event){
      if(event.start_day == 5 && $.inArray(event.id, studentEvents) == -1){ %>
        <li data-event-class="<%= event.class %>">
          <span class="pull-left event <%= event.class %>"></span>
          <a href="<%= event.url %>" data-event-id="<%= event.id %>" class="cal-event-week event<%= event.id %>"><%= event.title %></a>
        </li>
      <% }
       %>
    <%}); %>
  </ul>
  <ul class="cal-event-list unstyled cal-cell1">
    <% _.each(events, function(event){
      if(event.start_day == 6){ %>
        <li data-event-class="<%= event.class %>">
          <span class="pull-left event <%= event.class %>"></span>
          <a href="<%= event.url %>" data-event-id="<%= event.id %>" class="cal-event-week event<%= event.id %>"><%= event.title %></a>
        </li>
      <% } %>
    <%}); %>
  </ul>
  
</div>